body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.calc{
    background-color: white;
    margin: auto;
    width: 330px;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 20px;
    box-shadow: 3px 5px 8px grey;
    
}
.screen{
    position: relative;
    text-align: center;
}
.screen input{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 5px 8px grey;
}
.first{
    position: relative;
    /* text-align: left; */
}

/* button{
    box-sizing: border-box;
} */
.first ul{
    display: flex;
}
.first li{
    list-style: none;
}

/* .first .sep{
    flex: 50%;
} */
.first .clear{
    width: 133px;
    border-radius: 20px;
    flex: 50%;
    
}
.first button{  
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    box-shadow: 3px 5px 8px grey;
    border: none;
    font-weight: bolder;
    flex: 25%;
    /* padding: 0 50px; */
}
.second{
    position: relative;

}
.second ul{
    display: flex;
}
.second li{
    list-style: none;
    flex: 25%;
}
.second button{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    box-shadow: 3px 5px 8px grey;
    border: none;
    font-weight: bolder;
}
.third{
    position: relative;
}
.third ul{
    display: flex;
}
.third li{
    list-style: none;
    flex: 25%;
}
.third button{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    border-style: none;
    box-shadow: 3px 5px 8px grey;
    font-weight: bolder;
}
.fourth{
    position: relative;
}
.fourth ul{
    display: flex;
}
.fourth li{
    list-style: none;
    flex: 25%;
}
.fourth button{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    border-style: none;
    box-shadow: 3px 5px 8px grey;
    font-weight: bolder;
}
.fifth{
    position: relative;
}
.fifth ul{
    display: flex;
}
.fifth li{
    list-style: none;
    flex: 25%;
}
.fifth .sep{
    flex: 50%;
    width: 120px;
    border-radius: 20px;
    margin-right: 30px
}
/* .fifth .equal{
    width: 133px;
    border-radius: 20px;
    
} */
.fifth button{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    border-style: none;
    box-shadow: 3px 5px 8px grey;
    font-weight: bolder;
}